xsd/MCQ.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="mcqs" type="xs:string">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="questions" type="xs:string">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="question" type="xs:string">
                        <xs:element name="option" type="xs:string">
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>